

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   scrollbar-width: none;
   overflow-x: hidden;
}
.logo{
  color: #950000;
  font-weight: bold;
  font-size: larger;


}
.hero-section{
  background-image: url('./assets/Watch-Free-Hero-2048x1152-1-1024x576.png');
  height: 80vh;
  color: #cecece;
  display: flex;
  padding: 15px;
  opacity: 0.9;
  flex-direction: column;
justify-content: space-evenly;
}
.hero-con{
  display: flex;
  margin: auto;
  font-size: larger;
  font-weight: 700;

  flex-direction: column;
  gap: 20px;
  justify-content: left;
}
.explore-btn{
text-decoration: none;  
color: #ccc;
border: 1px solid #950000;
background-color: #950000;
padding: 5px 20px;
margin-top: 10px;
border-radius: 8px;
font-size: larger;
font-weight: 500;
}

 .heading{
   background-color: #ebebeb;
  padding: 10px;
 color: #a00000; 
 margin: 0px auto;
 font-size: larger;
 font-weight: 500;
}
.main-container .heading{
  background-color: #ebebeb;
  padding: 10px;
 color: #a00000;
}
.menu-btn{
  color: #a00000;
}

.header{
  display: flex;
justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  list-style: none;
width: 100%;
font-size: larger;

}
.headerlist {
  text-decoration: none;
  color: #a00000;
  font-weight: 500;
}
.list-container{
  display: flex;
  justify-content: center;
}
.headerlist:hover {
  
  color: #f46a6a;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  

}
.header__right{
  display: flex;
  gap: 30px;
  
}


.header ul li:hover{
  text-decoration: none;
  list-style: none;

  
}.header ul li a{
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.search-bar{
  display: flex;
  padding: 10px;
  margin: auto;
  justify-content: flex-start;
  margin-left: 45px;
  width: 100%;
 
  
}
.search-bar input{
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
min-width: 35%;
  border: 1px solid #a91e1e;
}

.search-bar input:focus{
  outline: none;
  border: 1px solid #db1e1e;
  color: #db1e1e;
}
.search-container{
  width: auto;
  display: flex;
  margin: auto;
}
.search-bar button{
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: #a00000;
    color: #fff;
    cursor: pointer;
  }

.card{
  display: flex;
flex-wrap: wrap;
  justify-content: center;
  align-items: center;
padding: 10px;
gap: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: center;
  gap: 12px;
  
  margin: auto;
 width: 80%;
  padding: 18px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input:focus{
  outline: none;
  border: 1px solid #000;
}
Button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #a00000;
  color: #fff;
  cursor: pointer;
  list-style: none;
 
}
Button:hover{
opacity: 0.8;

 
}
.register{
  text-decoration: underline;
}
.register:hover{
  color: #950000;
}
Button:focus{
  outline: none;
  color: #ffffff;
}
Button:active{
  background-color: #ba00004e;
  color: #ffffff;
  
}

.movie-card .details-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  gap: 10px;
}
.movie-card img{
  object-fit: cover;
  width: 100%;
  height: 30em;
}
.header-item{
  text-decoration: none;
}
.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
}
.detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  padding: 20px;
 
  width: auto;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
}
.series-card{
  padding: 10px;
  cursor: pointer;
  color: #a00000;
  object-fit: cover;
 
}

.movie-card:hover{
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
   transition: all 0.3s ease;
  transform: scale(1.04);
}

.series-card:hover{
   box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
   transition: all 0.3s ease;
  transform: scale(1.04);
}
.Episode-card:Hover{
   box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
   transition: all 0.3s ease;
  transform: scale(1.04);
}
.Episode-card{
  padding: 8px;


}

.movies-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  
 
}
.series-main-container{
 margin: auto;
  width: 90%;
  margin-top: 20px;
  
}
.episode-main-container{
 margin: auto;
  width: 90%;
  margin-top: 10px;
  background-color: #cecece;
  
}
  
.series-container{
  display: flex;
  flex-wrap: wrap;
 align-items: center; 
 justify-content: center;
 margin: auto;
 text-align: center;
 gap: 20px;
   margin-top: 5px;
 overflow-x: hidden;
 width: 90%;
}
.series-container Link{
  text-decoration: none;
}

.movie-container h1{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

 
}
.card-con{
    text-decoration: none;
  color: #a00000;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: auto;
  
  height: auto;
  gap: 20px;

}
.movie-container{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
 
  align-items: center;
   margin: auto;
 text-align: center;
 gap: 30px;
  justify-content: space-evenly;
   margin-top: 5px;
 overflow-x: hidden;
}
.cards{
  text-decoration: none;
  color: #a00000;
  padding: 5px;
  display: flex;
  width: auto;
  
 
  gap: 10px;

}
.details-cards{
   text-decoration: none;
  color: #a00000;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.ListItem{
  color: #a00000;

}
.login-head{
  font-size: xx-large;
  color: #b6abab; 
  letter-spacing: 8px;
  font-weight: bold;
  
}
.login-inputs{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
.Text{
  font-weight: 500;
  font-size: larger;
  color: #a00000;
}
input{
  padding: 10px;
  border-radius: 5px;
 font-size: medium;
  border: 1px solid #ccc;
}
input[type="text"]:focus{
  outline: none;
 
  border: 1px solid #000;
}
/*details-page-css*/
.movie-title{
  font-size: xX-large;

  color: #b5b5b5;
  background-color: #ffffff;
  font-weight: bold;

  padding: 8px;
}
.wishlist{
  display: flex;

  align-items: center;
  gap: 20px;
}
.wishlistbtn {
align-items: center;
display: flex;
justify-content: center;
gap: 4px;
  cursor: pointer;
}
.wishlistbtn:hover{

  color: #da0202;
  cursor: pointer;
}
.load{
  font-size: x-large;
  color: #a00000;
}
.rating{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}
.page-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

}